/*------------------------------------
* sext
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2011-12-20
*
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

body{font-size:13px;font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#000000;background-color:#ffffff;}
*{padding:0;margin: 0;border:none;outline:none;}
a{color:#dd0000;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.5em 0;}
li{padding:.3em 0;}
ol,ul{list-style-position:inside;color:#444;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
pre code{margin:1em 0;font-size:13px;line-height:1.6;display:block;overflow:auto;}
blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}
#container{width:840px;margin:2em auto;display:block;padding:0 2em;}
.content{font-size:15px;line-height:24px;}
.content h1{padding:.5em 0;}
.content img{max-width:600px;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px;}
#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.meta{text-align:right;font-size:12px;}
header{padding:.5em 0;border-bottom: 1px solid #cccccc;}
nav{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
.post{padding:.5em 0em;}
h1,h2,h3,h4{margin:20px 0 4px;}
h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;margin-top:24px;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;margin-top:22px;border-bottom: 1px solid #CCCCCC;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;margin-top:14px;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;margin-top:12px;}
pre,code{font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;font-size:13px;}
code{background-color:#F7F7F7;}
embed,object,iframe{display:block;margin:4px auto;}

table {
    border-collapse: collapse;
    padding: 0;
}
table tr {
    background-color: white;
    border-top: 1px solid #CCCCCC;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #F8F8F8;
}
table tr th {
    border: 1px solid #CCCCCC;
    font-weight: bold;
    margin: 0;
    padding: 6px 13px;
    text-align: left;
}
table tr td {
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 6px 13px;
    text-align: left;
}

table td {
    font-size: 0.9em;
}

table tr th *:first-child, table tr td *:first-child {
    margin-top: 0;
}
table tr th *:last-child, table tr td *:last-child {
    margin-bottom: 0;
}
